{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cognizance</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
</head>

<body style="background: url({% static '/img/tech/619899.jpg' %});">
    <nav class="navbar navbar-light navbar-expand-md" style="background: #f7f5f5;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-weight: bold;color: rgba(79,79,79,0.9);">Add Member</a><button class="navbar-toggler" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav>
    <!-- Start: Login Form Clean -->
    <div class="login-clean" style="background: url({% static '/img/tech/619899.jpg' %});">
        <!-- Start: Form Container -->
        <div class="form-container" style="width: none;height: 40%;">
            <form method="post" style="height: 50%;width: 40%;text-align: center;max-width: 40%;max-height: 50%;">
                {% csrf_token %}
                <h2 class="text-center"><strong>Add</strong> a member</h2>
                <div class="form-group"><input class="form-control" name="fullname" type="text" placeholder="Fullname" style="margin-top: 30px;"></div>
                <div class="form-group"><input class="form-control" name="username" type="text" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" name="phone" type="text" placeholder="Phone" inputmode="numeric"></div>
                <div class="form-group"><input class="form-control" name="github_handle" type="text" placeholder="GitHub handle"></div>
                <div class="form-group"><select class="form-control" name="role" placeholder="GitHub handle">
                <option value="member">Member</option>
                <option value='administrator'>Administrator</option>
                </select>
                </div>
                <div class="form-group"><input class="form-control" name="discord_handle" type="text" placeholder="Discord handle"></div>
                <div class="form-group"><input class="form-control" name="email" type="email" name="email" placeholder="Email" inputmode="email"></div>
                <div class="form-group"><input class="form-control" name="password" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" name="conf_password" type="password" name="password-repeat" placeholder="Password (repeat)"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(227,84,65);">REGISTER</button></div>
            </form>
        </div>
        <!-- End: Form Container -->
    </div>
    <!-- End: Login Form Clean -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static '/js/script.min.js' %}"></script>
</body>

</html>