{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cognizance</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
</head>

<body style="background: url({% static '/img/tech/619899.jpg' %});">
    <nav class="navbar navbar-light navbar-expand-md" style="background: #f9f7f7;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-weight: bold;">Admin Dashboard</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="members/">Members</a></li>
                    <li class="nav-item"><a class="nav-link" href="admin-status.html">Status Updates</a></li>
                    <li class="nav-item"><a class="nav-link active" href="admin-gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="admin-achievements.html">Achievements</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
        </div>
        </div>
    </nav>
   <div class="card" style="width: 0px;"></div>
    <div>
        <div class="container">
            <div class="row">
                    <div class="col-md-6">
                    <a href="/adminapp/members">
                    <div class="card" data-bs-hover-animate="pulse" style="width: 280px;height: 280px;text-align: center;margin-left: 100px;margin-top: 100px;">
                       
                        <div class="card-body" style="width: auto;text-align: center;">
                            <h4 class="card-title" style="width: 150px;font-weight: bold;min-height: 50px;padding: 5px;color: rgb(88,92,95);text-align: center;margin-top: 10px;margin-left: 10px;">Members</h4>
                        </div>
                         
                    </div>
                    </a>
                    </div>
               
                <div class="col-md-6">
                    <div class="card" data-bs-hover-animate="pulse" style="width: 280px;height: 280px;text-align: center;margin-left: 100px;margin-top: 100px;">
                        <div class="card-body" style="width: auto;text-align: center;">
                            <h4 class="card-title" style="width: 200px;font-weight: bold;min-height: 50px;padding: 5px;color: rgb(88,92,95);text-align: center;margin-top: 10px;margin-left: 10px;">Achievements</h4>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="card" data-bs-hover-animate="pulse" style="width: 280px;height: 280px;text-align: center;margin-left: 100px;margin-top: 100px;">
                        <div class="card-body" style="width: auto;text-align: center;">
                            <h4 class="card-title" style="width: 200px;font-weight: bold;min-height: 50px;padding: 5px;color: rgb(88,92,95);text-align: center;margin-top: 10px;margin-left: 10px;">Status Updates</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" data-bs-hover-animate="pulse" style="width: 280px;height: 280px;text-align: center;margin-left: 100px;margin-top: 100px;">
                        <div class="card-body" style="width: auto;text-align: center;">
                            <h4 class="card-title" style="width: 200px;font-weight: bold;min-height: 50px;padding: 5px;color: rgb(88,92,95);text-align: center;margin-top: 10px;margin-left: 10px;">Gallery</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="/adminapp/announcements">
                    <div class="card" data-bs-hover-animate="pulse" style="width: 280px;height: 280px;text-align: center;margin-left: 100px;margin-top: 100px;">
                        
                        <div class="card-body" style="width: auto;text-align: center;">
                            <h4 class="card-title" style="width: 220px;font-weight: bold;min-height: 50px;padding: 5px;color: rgb(88,92,95);text-align: center;margin-top: 10px;margin-left: 10px;">Announcements</h4>
                        </div>
                        
                    </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="card" data-bs-hover-animate="pulse" style="width: 280px;height: 280px;text-align: center;margin-left: 100px;margin-top: 100px;">
                        <div class="card-body" style="width: auto;text-align: center;">
                            <h4 class="card-title" style="width: 200px;font-weight: bold;min-height: 50px;padding: 5px;color: rgb(88,92,95);text-align: center;margin-top: 10px;margin-left: 10px;">Meetings</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
               
            </div>
        </div>
    </div>
    <div style="margin-bottom: 40px;">
        <div class="container">
            <div class="row">
                
                    
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static '/js/script.min.js' %}"></script>
</body>

</html>