{% load static %}
<!DOCTYPE html>
<html>
<!--LOGIN PAGE -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="{% static '/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
</head>

<body style="height: 900px;min-height: 900px;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Cognizance</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/login">LOGIN</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gallery">GALLERY</a></li>
                    <li class="nav-item"><a class="nav-link" href="/achievements">ACHIEVEMENTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">ABOUT US</a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="/site-admin">ADMIN</a></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Start: Login Form Clean -->
    <div class="login-clean" style="background: url({% static '/img/tech/619899.jpg' %});padding-bottom: 40px;">
        <form class="bg-light border rounded" method="post" style="margin-top: 160px;padding: 45px;margin-bottom: 160px;">
            {% csrf_token %}
            <h1 style="font-size: 25px;font-weight: bold;">MEMBER</h1>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" style="margin-top: 30px;"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: #fc7f3f;margin-top: 40px;">LOGIN</button></div>
            {% for message in messages %}
                <p id = "messages">{{message}}</p>
            {% endfor %}
        </form>
    </div>
    <!-- End: Login Form Clean -->
    <main class="page"></main>
    <!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        {% comment %} <li><a href="#">Admin</a></li> {% endcomment %}
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/achievements">Achievements</a></li>
                        <li><a href="/about">Contact us</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright - Cognizance</p>
        </div>
    </footer>
    <!-- End: Footer Dark -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static '/js/script.min.js' %}"></script>
</body>

</html>